.history {
	margin-top: 3em;
	font-size: 13px;
}

.history-list {
	margin: 0;
	padding-left: 2em;

	& > li {
		margin-bottom: .5em;
	}

	.btn,
	&__redmine-link {
		margin-right: .5em;
	}
	
	&__branch-name {
		cursor: pointer;
		
		&:hover {
			color: $gladd-red;
		}
		&:active {
			color: inherit;
		}
	}
}
