.history {
	margin-top: 3em;
	font-size: 13px;

	ul {
		margin: 0;
		padding-left: 2em;

		& > li {
			margin-bottom: .5em;
		}
	}


	button,
	a {
		margin-right: .5em;
	}

	span {
		cursor: pointer;
		
		&:hover {
			color: $gladd-red;
		}
		&:active {
			color: inherit;
		}
	}
}
